<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index/index.css">
</head>
<style></style>
<body>
<div class="main border">

    <div class="title">

        <div class="title_word">
            <div class="title_logo"><img src="__PUBLIC__/home/images/index/u18.png"></div>
            <h1 style="font-size: 50px">智慧管廊综合管理平台</h1>
        </div>
    </div>

    <div class="img">
        <div class="img_left">
            <img src="__PUBLIC__/home/images/index/u12.jpg">
        </div>
        <div class="login_right border">
            <form action="__APP__/home/run/run" id="loginForm">
                <h2>用户登录</h2>
                <img src="__PUBLIC__/home/images/index/u14.png" alt=""><input class="stl" type="text" placeholder="请输入用户名"  ><br><br>
                <img src="__PUBLIC__/home/images/index/u20.png" alt=""><input class="stl" type="password" placeholder="请输入密码"><br><br>
                <input class="stl" type="text" placeholder="请输入验证码"><br><br><br>
                <input type="submit" value="登录" style="width: 175px; height: 30px; background-color: #199ED8;border-radius: 10px; color: #ffffff ">
            </form>
        </div>
    </div>
</div>
</body>
</html>