/*总体布局样式表*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Normal";
}
.border{
    border: #797979 1px solid;
}
.shadow{
    box-shadow:5px 5px 5px #797979;
}
.main{
    width:1200px;
    height:800px;
    padding: 2px;
    font-size:14px;
    margin:0 auto;
    /*color: #aaaaaa;*/
}



