<!DOCTYPE html>
<html>
<head>
    <title>地图</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/home/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/files/map/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/home/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/axQuery.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/globals.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axutils.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/annotation.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/axQuery.std.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/doc.js"></script>
    <script src="__PUBLIC__/home/data/document.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/messagecenter.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/events.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/recording.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/action.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/expr.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/geometry.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/flyout.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/ie.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/model.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/repeater.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/sto.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/utils.temp.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/variables.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/drag.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/move.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/visibility.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/style.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/adaptive.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/tree.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/init.temp.js"></script>
    <script src="__PUBLIC__/home/files/map/data.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/legacy.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/viewer.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (母版2) -->

    <!-- Unnamed (矩形) -->
    <div id="u343" class="ax_default box_1">
        <div id="u343_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u344" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u345" class="ax_default">

        <!-- Unnamed (水平线) -->
        <div id="u346" class="ax_default line">
            <img id="u346_img" class="img " src="__PUBLIC__/home/images/map/u346.png"/>
            <!-- Unnamed () -->
            <div id="u347" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u348" class="ax_default line">
            <img id="u348_img" class="img " src="__PUBLIC__/home/images/map/u346.png"/>
            <!-- Unnamed () -->
            <div id="u349" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u350" class="ax_default line">
            <img id="u350_img" class="img " src="__PUBLIC__/home/images/map/u346.png"/>
            <!-- Unnamed () -->
            <div id="u351" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u352" class="ax_default line">
            <img id="u352_img" class="img " src="__PUBLIC__/home/images/map/u346.png"/>
            <!-- Unnamed () -->
            <div id="u353" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u354" class="ax_default box_2">
            <div id="u354_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u355" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (内联框架) -->
        <div id="u356" class="ax_default">
            <iframe id="u356_input" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>

    <!-- Unnamed (多行文本框) -->
    <div id="u357" class="ax_default text_area">
        <textarea id="u357_input">







</textarea>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u358" class="ax_default droplist">
        <select id="u358_input">
            <option selected value="园博园大街">园博园大街</option>
            <option value="太行大街">太行大街</option>
            <option value="新城大街">新城大街</option>
            <option value="迎旭路">迎旭路</option>
            <option value="隆兴路">隆兴路</option>
        </select>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u359" class="ax_default text_field">
        <input id="u359_input" type="text" value=""/>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u360" class="ax_default _图片1">
        <img id="u360_img" class="img " src="__PUBLIC__/home/images/video/u223.svg"/>
        <!-- Unnamed () -->
        <div id="u361" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u362" class="ax_default _文本段落1">
        <div id="u362_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u363" class="text" style="visibility: visible;">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u364" class="ax_default icon">
        <img id="u364_img" class="img " src="__PUBLIC__/home/images/run/u45.png"/>
        <!-- Unnamed () -->
        <div id="u365" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u366" class="ax_default image">
        <img id="u366_img" class="img " src="__PUBLIC__/home/images/run/u47.png"/>
        <!-- Unnamed () -->
        <div id="u367" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u368" class="ax_default _图片1">
        <img id="u368_img" class="img " src="__PUBLIC__/home/images/run/u50.svg"/>
        <!-- Unnamed () -->
        <div id="u369" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>









    <!-- Unnamed (矩形) -->
    <div id="u370" class="ax_default label">
        <div id="u370_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u371" class="text" style="visibility: visible;">
            <p><a href="/home/run/map"><span>GIS</span></a></p>
        </div>
    </div>
    <!-- Unnamed (矩形) -->
    <div id="u372" class="ax_default label">
        <div id="u372_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u373" class="text" style="visibility: visible;">
            <p><a href="/home/run/run"><span>三视图</span></a></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u374" class="ax_default label">
        <div id="u374_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u375" class="text" style="visibility: visible;">
            <p><a href="/home/run/fire"><span>防火分区</span></a></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u376" class="ax_default label">
        <div id="u376_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u377" class="text" style="visibility: visible;">
            <p><a href="/home/run/video"><span>视频</span></a></p>
        </div>
    </div>







    <!-- Unnamed (垂直线) -->
    <div id="u378" class="ax_default line">
        <img id="u378_img" class="img " src="__PUBLIC__/home/images/map/u378.png"/>
        <!-- Unnamed () -->
        <div id="u379" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u380" class="ax_default label">
        <div id="u380_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u381" class="text" style="visibility: visible;">
            <p><span>防火分区1</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u382" class="ax_default label">
        <div id="u382_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u383" class="text" style="visibility: visible;">
            <p><span>防火分区3</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u384" class="ax_default label">
        <div id="u384_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u385" class="text" style="visibility: visible;">
            <p><span>防火分区2</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u386" class="ax_default label">
        <div id="u386_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u387" class="text" style="visibility: visible;">
            <p><span>防火分区4</span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u388" class="ax_default line">
        <img id="u388_img" class="img " src="__PUBLIC__/home/images/video/u195.png"/>
        <!-- Unnamed () -->
        <div id="u389" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (系统母版 1) -->

    <!-- Unnamed (组合) -->
    <div id="u391" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u392" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u393" class="ax_default box_2">
                <div id="u393_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u394" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u395" class="ax_default _一级标题">
                <div id="u395_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u396" class="text" style="visibility: visible;">
                    <p><span>智慧管廊综合管理平台</span></p>
                </div>
            </div>

            <!-- 系统运行 (矩形) -->
            <div id="u397" class="ax_default box_2" data-label="系统运行">
                <div id="u397_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u398" class="text" style="visibility: visible;">
                    <p><span>运行管理</span></p>
                </div>
            </div>

            <!-- 设备管理 (矩形) -->
            <div id="u399" class="ax_default box_2" data-label="设备管理">
                <div id="u399_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u400" class="text" style="visibility: visible;">
                    <p><span>设备管理</span></p>
                </div>
            </div>

            <!-- 报警管理 (矩形) -->
            <div id="u401" class="ax_default box_2" data-label="报警管理">
                <div id="u401_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u402" class="text" style="visibility: visible;">
                    <p><span>报警管理</span></p>
                </div>
            </div>

            <!-- 巡检管理 (矩形) -->
            <div id="u403" class="ax_default box_2" data-label="巡检管理">
                <div id="u403_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u404" class="text" style="visibility: visible;">
                    <p><span>巡检管理</span></p>
                </div>
            </div>

            <!-- Unnamed (动态面板) -->
            <div id="u405" class="ax_default">
                <div id="u405_state0" class="panel_state" data-label="State1">
                    <div id="u405_state0_content" class="panel_state_content">

                        <!-- Unnamed (热区) -->
                        <div id="u406" class="ax_default">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 子系统 (动态面板) -->
            <div id="u407" class="ax_default ax_default_hidden" data-label="子系统" style="display: none; visibility: hidden">
                <div id="u407_state0" class="panel_state" data-label="State1">
                    <div id="u407_state0_content" class="panel_state_content">

                        <!-- Unnamed (矩形) -->
                        <div id="u408" class="ax_default box_1">
                            <div id="u408_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u409" class="text" style="visibility: visible;">
                                <p><span>消防系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u410" class="ax_default box_1">
                            <div id="u410_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u411" class="text" style="visibility: visible;">
                                <p><span>安防系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u412" class="ax_default box_1">
                            <div id="u412_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u413" class="text" style="visibility: visible;">
                                <p><span>自控系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u414" class="ax_default box_1">
                            <div id="u414_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u415" class="text" style="visibility: visible;">
                                <p><span>配电与照明</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u416" class="ax_default image">
                <img id="u416_img" class="img " src="__PUBLIC__/home/images/run/u142.png"/>
                <!-- Unnamed () -->
                <div id="u417" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u418" class="ax_default icon">
                <img id="u418_img" class="img " src="__PUBLIC__/home/images/run/u144.png"/>
                <!-- Unnamed () -->
                <div id="u419" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u420" class="ax_default label">
                <div id="u420_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u421" class="text" style="visibility: visible;">
                    <p><span>你好！Admin</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u422" class="ax_default icon">
                <img id="u422_img" class="img " src="__PUBLIC__/home/images/run/u148.png"/>
                <!-- Unnamed () -->
                <div id="u423" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- 系统设备 (矩形) -->
            <div id="u424" class="ax_default box_2" data-label="系统设备">
                <div id="u424_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u425" class="text" style="visibility: visible;">
                    <p><span>设备分布</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u426" class="ax_default line">
        <img id="u426_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u427" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u428" class="ax_default line">
        <img id="u428_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u429" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u430" class="ax_default line">
        <img id="u430_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u431" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u432" class="ax_default line">
        <img id="u432_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u433" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u434" class="ax_default line">
        <img id="u434_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u435" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u436" class="ax_default line">
        <img id="u436_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u437" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>
</div>
</body>
</html>
