<html>
<head>
    <meta charset="UTF-8">
    <title>运行管理</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/run/run.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/navigation.css">
    <script src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>
    <style></style>
</head>
<body>
<div class="main border">
    <!--导航条开始-->
    <div class="navBar shadow">
        <div class="navLeft">
            <div>
                <img src="__PUBLIC__/home/images/run/u142.png" alt="logo" style="width:30px;height:30px;padding-top: 10px;float: left">
                <div class="title">智慧管廊综合管理平台</div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">运行管理</a></li>
                <li><a href="#">报警管理</a></li>
                <li><a href="#">巡检管理</a></li>
                <li><a href="#">设备管理</a></li>
                <li>
                    <a href="#" >设备分布</a>
                    <ul class="navBar_two">
                        <li style="clear: both;"><a href="#">安防系统</a></li>
                        <li style="clear: both;"><a href="#">消防系统</a></li>
                        <li style="clear: both;"><a href="#">自控系统</a></li>
                        <li style="clear: both;"><a href="#">配电与照明</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navRight">
            <img src="__PUBLIC__/home/images/run/u144.png" alt="">
            你好！Admin
        </div>
        <div class="setting">
            <img src="__PUBLIC__/home/images/run/u148.png" alt="">
        </div>
    </div>
    <!--导航条结束-->

    <!--主区-->
    <div class="content">
    <div class="switchViewIcon">

        <img src="__PUBLIC__/home/images/run/video.png" style="padding-right: 35px">

        <img src="__PUBLIC__/home/images/run/u45.png">

        <img src="__PUBLIC__/home/images/run/u47.png">

        <img src="__PUBLIC__/home/images/run/gis.png">
    </div>

    <div class="switchViewBtn">
        <a href="/index.php/home/run/video">视频</a>
        <a href="#">防火分区</a>
        <a href="#">三视图</a>
        <a href="#">GIS</a>
    </div>

    <div class="contentView">

        <div class="viewLeft border shadow">
            <!--视频区开始-->
            <div class="viewLeftVideo">
                <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" id="obj" height="100%" width="100%" name="ocx" >
                    <param  id="rtsp" name="mrl" value="rtsp://admin:admin@192.168.1.108:554/cam/realmonitor?channel=1&subtype=0&unicast=true&proto=Onvif">
                    <param name="volume" value="50">
                    <param name="autoplay" value="true">
                    <param name="control" value="false">
                    <param name="toolbar" value="false">
                </object>
            </div>

            <!--监控点切换-->
            <div class="viewLeftCtl">
                <form action="">
                    <select name="street" class="street" style="width:206px;height:22px">
                        <option value="1">迎旭路</option>
                    </select>
                    <br>
                    <select  id="point" name="point" style="width:206px;height:22px" onchange="show_sub(this.options[this.options.selectedIndex].value)">
                        <option value="大华">大华</option>
                        <option value="海康">海康</option>
                    </select>
                </form>
            </div>
            <!--视频区结束-->
        </div>

        <div class="viewRight">
            <!--GIS区域开始-->
            <div class="viewRitGis border shadow">
                <iframe src="/home/run/gisSmall" frameborder="0" width='100%' height="100%" scrolling="no"></iframe>
            </div>
            <!--GIS区域结束-->

            <!--防火分区开始-->
            <div class="viewRitFirePro border shadow">
                <img src="__PUBLIC__/home/images/run/u74.png">
            </div>
            <!--防火分区结束-->
        </div>
    </div>
</div>
</div>
</body>
<script>
    console.log('js输出成功')
    var obj = document.getElementById('obj');
    var parma = document.getElementById('rtsp');
    if(obj.object == null){
        alert('没有安装插件，请下载');
        location.href="__PUBLIC__/vlc-2.0.6-win32.exe";
    }
    else{
        console.log('控件已存在')
        console.log(obj);
    }
    // console.log(parma.value);
    function show_sub(v){
        // alert(v);
        switch (v) {
            case '大华':
                var id= obj.playlist.add('rtsp://admin:admin@192.168.1.108:554/cam/realmonitor?channel=1&subtype=0&unicast=true&proto=Onvif');
                obj.playlist.playItem(id);
                obj.playlist.stop();
                break;
            case '海康':
                var id = obj.playlist.add('rtsp://admin:admin123@192.168.1.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1')
                obj.playlist.playItem(id);
                obj.playlist.play();
            default:
                break;
        }
    }
</script>
</html>