<!DOCTYPE html>
<html>
<head>
    <title>运行管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="__PUBLIC__/home/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/files/run/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/home/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/axQuery.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/globals.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axutils.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/annotation.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/axQuery.std.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/doc.js"></script>
    <script src="__PUBLIC__/home/data/document.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/messagecenter.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/events.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/recording.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/action.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/expr.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/geometry.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/flyout.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/ie.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/model.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/repeater.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/sto.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/utils.temp.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/variables.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/drag.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/move.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/visibility.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/style.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/adaptive.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/tree.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/init.temp.js"></script>
    <script src="__PUBLIC__/home/files/run/data.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/legacy.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/viewer.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '__PUBLIC__/home/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '__PUBLIC__/home/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '__PUBLIC__/home/resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (母版2) -->

    <!-- Unnamed (矩形) -->
    <div id="u35" class="ax_default box_1">
        <div id="u35_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u36" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u37" class="ax_default box_2">
        <div id="u37_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u38" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u39" class="ax_default box_2">
        <div id="u39_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u40" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u41" class="ax_default box_2">
        <div id="u41_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u42" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u43" class="ax_default _文本段落1">
        <div id="u43_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u44" class="text" style="visibility: visible;">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u45" class="ax_default icon">
        <img id="u45_img" class="img " src="__PUBLIC__/home/images/run/u45.png"/>
        <!-- Unnamed () -->
        <div id="u46" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u47" class="ax_default image">
        <img id="u47_img" class="img " src="__PUBLIC__/home/images/run/u47.png"/>
        <!-- Unnamed () -->
        <div id="u48" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u49" class="ax_default">

        <!-- Unnamed (图片) -->
        <div id="u50" class="ax_default _图片1">
            <img id="u50_img" class="img " src="__PUBLIC__/home/images/run/u50.svg"/>
            <!-- Unnamed () -->
            <div id="u51" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u52" class="ax_default label">
            <div id="u52_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u53" class="text" style="visibility: visible;">
                <p><a href="/home/run/video"><span>视频</span></a></p>
            </div>
        </div>
    </div>



    <!-- Unnamed (矩形) -->
    <div id="u54" class="ax_default label">
        <div id="u54_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u55" class="text" style="visibility: visible;">
            <p><a href="/home/run/map"><span>GIS</span></a></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u56" class="ax_default label">
        <div id="u56_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u57" class="text" style="visibility: visible;">
            <p><a href="/home/run/run"><span>三视图</span></a></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u58" class="ax_default label">
        <div id="u58_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u59" class="text" style="visibility: visible;">
            <p><a href="/home/run/fire"><span>防火分区</span></a></p>
        </div>
    </div>



    <!-- Unnamed (图片) -->
    <div id="u60" class="ax_default _图片1">
        <img id="u60_img" class="img " src="__PUBLIC__/home/images/run/u60.png"/>
        <!-- Unnamed () -->
        <div id="u61" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u62" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u63" class="ax_default icon">
            <img id="u63_img" class="img " src="__PUBLIC__/home/images/run/u63.png"/>
            <!-- Unnamed () -->
            <div id="u64" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u65" class="ax_default icon">
            <img id="u65_img" class="img " src="__PUBLIC__/home/images/run/u65.png"/>
            <!-- Unnamed () -->
            <div id="u66" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u67" class="ax_default droplist">
        <select id="u67_input">
            <option value="园博园大街">园博园大街</option>
            <option value="太行大街">太行大街</option>
            <option value="新城大街">新城大街</option>
            <option selected value="迎旭路">迎旭路</option>
            <option value="隆兴路">隆兴路</option>
        </select>
    </div>

    <!-- Unnamed (下拉列表框) -->

    <div id="u68" class="ax_default droplist" >
        <select id="u68_input" class="selector" onchange="show_sub(this.options[this.options.selectedIndex].value)">
            <option value="大华">大华</option>
            <option value="海康">海康</option>
        </select>
    </div>


    <!-- Unnamed (图片) -->
    <div id="u69" class="ax_default image">
        <img id="u69_img" class="img " src="__PUBLIC__/home/images/run/u69.png"/>
        <!-- Unnamed () -->
        <div id="u70" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u71" class="ax_default line">
        <img id="u71_img" class="img " src="__PUBLIC__/home/images/run/u71.png"/>
        <!-- Unnamed () -->
        <div id="u72" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (内联框架) -->
    <div id="u73" class="ax_default">
        <iframe id="u73_input" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u74" class="ax_default image">
        <img id="u74_img" class="img " src="__PUBLIC__/home/images/run/u74.png"/>
        <!-- Unnamed () -->
        <div id="u75" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- 画面切换分按钮 (动态面板) -->
    <div id="u76" class="ax_default ax_default_hidden" data-label="画面切换分按钮" style="display: none; visibility: hidden">
        <div id="u76_state0" class="panel_state" data-label="State1">
            <div id="u76_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u77" class="ax_default box_1">
                    <div id="u77_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u78" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u79" class="ax_default box_1">
                    <div id="u79_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u80" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u81" class="ax_default box_1">
                    <div id="u81_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u82" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u83" class="ax_default box_1">
                    <div id="u83_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u84" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (垂直线) -->
                <div id="u85" class="ax_default line">
                    <img id="u85_img" class="img " src="__PUBLIC__/home/images/run/u85.png"/>
                    <!-- Unnamed () -->
                    <div id="u86" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (垂直线) -->
                <div id="u87" class="ax_default line">
                    <img id="u87_img" class="img " src="__PUBLIC__/home/images/run/u85.png"/>
                    <!-- Unnamed () -->
                    <div id="u88" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (水平线) -->
                <div id="u89" class="ax_default line">
                    <img id="u89_img" class="img " src="__PUBLIC__/home/images/run/u89.png"/>
                    <!-- Unnamed () -->
                    <div id="u90" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 二分面 (动态面板) -->
    <div id="u91" class="ax_default" data-label="二分面">
        <div id="u91_state0" class="panel_state" data-label="State1">
            <div id="u91_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u92" class="ax_default box_1">
                    <div id="u92_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u93" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (垂直线) -->
                <div id="u94" class="ax_default line">
                    <img id="u94_img" class="img " src="__PUBLIC__/home/images/run/u94.png"/>
                    <!-- Unnamed () -->
                    <div id="u95" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u96" class="ax_default image">
                    <img id="u96_img" class="img " src="__PUBLIC__/home/images/run/u96.jpg"/>
                    <!-- Unnamed () -->
                    <div id="u97" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u98" class="ax_default image">
                    <img id="u98_img" class="img " src="__PUBLIC__/home/images/run/u96.jpg"/>
                    <!-- Unnamed () -->
                    <div id="u99" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 三界面 (动态面板) -->
    <div id="u100" class="ax_default" data-label="三界面">
        <div id="u100_state0" class="panel_state" data-label="State1">
            <div id="u100_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u101" class="ax_default box_1">
                    <div id="u101_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u102" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u103" class="ax_default image">
                    <img id="u103_img" class="img " src="__PUBLIC__/home/images/run/u96.jpg"/>
                    <!-- Unnamed () -->
                    <div id="u104" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u105" class="ax_default image">
                    <img id="u105_img" class="img " src="__PUBLIC__/home/images/run/u96.jpg"/>
                    <!-- Unnamed () -->
                    <div id="u106" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u107" class="ax_default box_1">
                    <div id="u107_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u108" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u109" class="ax_default image">
                    <img id="u109_img" class="img " src="__PUBLIC__/home/images/run/u96.jpg"/>
                    <!-- Unnamed () -->
                    <div id="u110" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 一界面 (动态面板) -->
    <div id="u111" class="ax_default" data-label="一界面">
        <div id="u111_state0" class="panel_state" data-label="State1">
            <div id="u111_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u112" class="ax_default box_1">
                    <div id="u112_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u113" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u114" class="ax_default image">
                    <!--<img id="u114_img" class="img " src="__PUBLIC__/home/images/run/u114.jpg"/>-->
                    <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
                            width="100%"
                            height="100%"
                            id="vlc"
                            events="True">

                        <!--<param id="url" name="MRL" value="rtsp://admin:admin@192.168.1.108:554/cam/realmonitor?channel=1&subtype=0" />-->
                        <param id="url" name="MRL" value="" />
                        <param name="ShowDisplay" value="True" />
                        <param name="AutoLoop" value="true" />
                        <param name="AutoPlay" value="true" />
                        <param name="Volume" value="50" />
                        <param name="toolbar" value="true" />
                        <param name="StartTime" value="0" />

                    </object>
                    <!-- Unnamed () -->
                    <div id="u115" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (系统母版 1) -->

    <!-- Unnamed (组合) -->
    <div id="u117" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u118" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u119" class="ax_default box_2">
                <div id="u119_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u120" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u121" class="ax_default _一级标题">
                <div id="u121_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u122" class="text" style="visibility: visible;">
                    <p><span>智慧管廊综合管理平台</span></p>
                </div>
            </div>

            <!-- 系统运行 (矩形) -->
            <div id="u123" class="ax_default box_2" data-label="系统运行">
                <div id="u123_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u124" class="text" style="visibility: visible;">
                    <p><span>运行管理</span></p>
                </div>
            </div>

            <!-- 设备管理 (矩形) -->
            <div id="u125" class="ax_default box_2" data-label="设备管理">
                <div id="u125_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u126" class="text" style="visibility: visible;">
                    <p><span>设备管理</span></p>
                </div>
            </div>

            <!-- 报警管理 (矩形) -->
            <div id="u127" class="ax_default box_2" data-label="报警管理">
                <div id="u127_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u128" class="text" style="visibility: visible;">
                    <p><span>报警管理</span></p>
                </div>
            </div>

            <!-- 巡检管理 (矩形) -->
            <div id="u129" class="ax_default box_2" data-label="巡检管理">
                <div id="u129_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u130" class="text" style="visibility: visible;">
                    <p><span>巡检管理</span></p>
                </div>
            </div>

            <!-- Unnamed (动态面板) -->
            <div id="u131" class="ax_default">
                <div id="u131_state0" class="panel_state" data-label="State1">
                    <div id="u131_state0_content" class="panel_state_content">

                        <!-- Unnamed (热区) -->
                        <div id="u132" class="ax_default">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 子系统 (动态面板) -->
            <div id="u133" class="ax_default ax_default_hidden" data-label="子系统" style="display: none; visibility: hidden">
                <div id="u133_state0" class="panel_state" data-label="State1">
                    <div id="u133_state0_content" class="panel_state_content">

                        <!-- Unnamed (矩形) -->
                        <div id="u134" class="ax_default box_1">
                            <div id="u134_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u135" class="text" style="visibility: visible;">
                                <p><span>消防系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u136" class="ax_default box_1">
                            <div id="u136_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u137" class="text" style="visibility: visible;">
                                <p><span>安防系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u138" class="ax_default box_1">
                            <div id="u138_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u139" class="text" style="visibility: visible;">
                                <p><span>自控系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u140" class="ax_default box_1">
                            <div id="u140_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u141" class="text" style="visibility: visible;">
                                <p><span>配电与照明</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u142" class="ax_default image">
                <img id="u142_img" class="img " src="__PUBLIC__/home/images/run/u142.png"/>
                <!-- Unnamed () -->
                <div id="u143" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u144" class="ax_default icon">
                <img id="u144_img" class="img " src="__PUBLIC__/home/images/run/u144.png"/>
                <!-- Unnamed () -->
                <div id="u145" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u146" class="ax_default label">
                <div id="u146_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u147" class="text" style="visibility: visible;">
                    <p><span>你好！Admin</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u148" class="ax_default icon">
                <img id="u148_img" class="img " src="__PUBLIC__/home/images/run/u148.png"/>
                <!-- Unnamed () -->
                <div id="u149" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- 系统设备 (矩形) -->
            <div id="u150" class="ax_default box_2" data-label="系统设备">
                <div id="u150_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u151" class="text" style="visibility: visible;">
                    <p><span>设备分布</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u152" class="ax_default line">
        <img id="u152_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u153" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u154" class="ax_default line">
        <img id="u154_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u155" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u156" class="ax_default line">
        <img id="u156_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u157" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u158" class="ax_default line">
        <img id="u158_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u159" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u160" class="ax_default line">
        <img id="u160_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u161" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u162" class="ax_default line">
        <img id="u162_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u163" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>
</div>
</body>
<script>


    function show_sub(v){
        alert(v);
    }// 获取选中的摄像头




    var vlc;
    function initPlayUrl(){
        vlc=document.getElementById("vlc");


        if(v == '大华'){
            var vedio_url='rtsp://admin:admin123@192.168.1.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1';
            itemId = vlc.playlist.add(vedio_url);
            vlc.playlist.playItem(itemId);
        }
        else if(v == '海康') {
            var vedio_url='rtsp://admin:admin123@192.168.1.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1';
            itemId = vlc.playlist.add(vedio_url);
            vlc.playlist.playItem(itemId);
        }



    }
    initPlayUrl();


//    var o = document.getElementById('vlc');
//
//
//
//    if(v == '大华'){
//        o.object.MRL = "rtsp://admin:admin@192.168.1.108:554/cam/realmonitor?channel=1&subtype=0";
//    }
//     else if(v == '海康') {
//        o.object.MRL = "rtsp://admin:admin123@192.168.1.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1";
//    }





//    var prms=document.getElementById('vlc').getElementsByTagName('param');
//    alert(prms);
//    for(var i=0;i<prms.length;i++){
//
//        var a = prms[i];
//        alert(a);
//        if(prms[i].name=="MRL")
//        {
//            alert(prms[i]);
//            var prms_value = prms[i].value;
//            alert(prms_value);
//
//            if(v == '大华'){
//                prms_value.value = "rtsp://admin:admin@192.168.1.108:554/cam/realmonitor?channel=1&subtype=0";
//            }
//            else if(v == '海康'){
//                prms_value.value = "rtsp://admin:admin123@192.168.1.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1";
//            }
//
//
//        }

//    }



</script>
</html>
