<html>
<head>
    <title>视频</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/PlayViewDemo.css"/>
    <link href="__PUBLIC__/home/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/home/files/video/styles.css" type="text/css" rel="stylesheet"/>
    <script src="__PUBLIC__/home/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/axQuery.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/globals.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axutils.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/annotation.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/axQuery.std.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/doc.js"></script>
    <script src="__PUBLIC__/home/data/document.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/messagecenter.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/events.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/recording.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/action.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/expr.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/geometry.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/flyout.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/ie.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/model.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/repeater.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/sto.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/utils.temp.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/variables.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/drag.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/move.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/adaptive.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/tree.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/init.temp.js"></script>
    <script src="__PUBLIC__/home/files/vids/scripts/axure/visibility.js"></script>
    <script src="__PUBLIC__/home/resources/scripts/axure/style.js"></script>
    <script src="__PUBLIC__/home/resourceeo/data.js"></script>
    <script src="__PUBLIC__/home//scripts/axure/viewer.js"></script>
    <script src="__PUBLIC__/home/resourceresources/scripts/axure/legacy.js"></script>
    <script src="__PUBLIC__/home/resourcess/scripts/axure/math.js"></script>
    <style type="text/css">
        .divImgIn {
            text-align:center;
            width:100px;
            height:50px; }
        .divImgOut{
            background-color: #8f949a
        }

        .window{
            width:100%;
            height:100%;
            margin: auto;
            position: absolute;
            z-index:3;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            background-color: black;
        }
        #iframe{
            background-image: url('__PUBLIC__/home/images/video/close.png');
            background-size: 100%;
            background-repeat: no-repeat;
            display: block；

        }
        .del{
            width:15px;
            height: 15px;
            position: absolute;
            z-index:3;
            top: 1px;
            right: 1px;
            background-color: #999999;
            display: none;
        }
        .ptz{
            background-image: url('__PUBLIC__/home/images/video/ptz.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width:15px;
            height: 15px;
            position: absolute;
            z-index:3;
            top: 17px;
            right: 1px;
            background-color:#999999;
            display: none;
        }

    </style>

</head>
<body>
<div id="base" class="">

    <!-- Unnamed (母版2) -->

    <!-- Unnamed (矩形) -->
    <div id="u165" class="ax_default box_1">
        <div id="u165_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u166" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u167" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u168" class="ax_default box_2">
            <div id="u168_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u169" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u170" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u171" class="ax_default box_2">
                <div id="u171_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u172" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u173" class="ax_default _一级标题">
                <div id="u173_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u174" class="text" style="visibility: visible;">
                    <p><span>智慧管廊综合管理平台</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u175" class="ax_default box_2">
                <div id="u175_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u176" class="text" style="visibility: visible;">
                    <p><span>系统运行</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u177" class="ax_default box_2">
                <div id="u177_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u178" class="text" style="visibility: visible;">
                    <p><span>设备管理</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u179" class="ax_default box_2">
                <div id="u179_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u180" class="text" style="visibility: visible;">
                    <p><span>报警管理</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u181" class="ax_default box_2">
                <div id="u181_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u182" class="text" style="visibility: visible;">
                    <p><span>运行管理</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u183" class="ax_default box_2">
                <div id="u183_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u184" class="text" style="visibility: visible;">
                    <p><span>巡检管理</span></p>
                </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u185" class="ax_default image">
                <img id="u185_img" class="img " src="__PUBLIC__/home/images/video/u185.png"/>
                <!-- Unnamed () -->
                <div id="u186" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u187" class="ax_default icon">
                <img id="u187_img" class="img " src="__PUBLIC__/home/images/video/u187.png"/>
                <!-- Unnamed () -->
                <div id="u188" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u189" class="ax_default label">
                <div id="u189_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u190" class="text" style="visibility: visible;">
                    <p><span>你好！Admin</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u191" class="ax_default icon">
                <img id="u191_img" class="img " src="__PUBLIC__/home/images/video/u191.png"/>
                <!-- Unnamed () -->
                <div id="u192" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u193" class="ax_default _文本段落1">
        <div id="u193_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u194" class="text" style="visibility: visible;">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u195" class="ax_default line">
        <img id="u195_img" class="img " src="__PUBLIC__/home/images/video/u195.png"/>
        <!-- Unnamed () -->
        <div id="u196" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u197" class="ax_default icon">
        <img id="u197_img" class="img " src="__PUBLIC__/home/images/run/u45.png"/>
        <!-- Unnamed () -->
        <div id="u198" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u199" class="ax_default image">
        <img id="u199_img" class="img " src="__PUBLIC__/home/images/run/u47.png"/>
        <!-- Unnamed () -->
        <div id="u200" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u201" class="ax_default _图片1">
        <img id="u201_img" class="img " src="__PUBLIC__/home/images/run/u50.svg"/>
        <!-- Unnamed () -->
        <div id="u202" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>








    <!-- Unnamed (矩形) -->
    <div id="u203" class="ax_default label">
        <div id="u203_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u204" class="text" style="visibility: visible;">
            <p><span><a href="/home/run/map">GIS</a></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u205" class="ax_default label">
        <div id="u205_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u206" class="text" style="visibility: visible;">
            <p><a href="/home/run/run"><span>三视图</span></a></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u207" class="ax_default label">
        <div id="u207_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u208" class="text" style="visibility: visible;">
            <p><a href="/home/run/fire"><span>防火分区</span></a></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u209" class="ax_default label">
        <div id="u209_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u210" class="text" style="visibility: visible;">
            <p><a href="/home/run/video"><span>视频</span></a></p>
        </div>
    </div>


    <!-- Unnamed (组合) -->
    <div id="u211" class="ax_default">

        <!-- Unnamed (垂直线) -->
        <div id="u212" class="ax_default line">
            <img id="u212_img" class="img " src="__PUBLIC__/home/images/video/u212.png"/>
            <!-- Unnamed () -->
            <div id="u213" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u214" style="padding-top:50px;padding-left: 6px;" class="ax_default image">
        <!--<img id="u214_img" class="img " src="__PUBLIC__/home/images/video/u214.png"/>-->
        <!-- Unnamed () -->

        <div style="text-align:center;background-color: #C0C0C0">云台控制</div>
        <br />
        <table width="100%" style="border: thin solid #C0C0C0;">
            <tr>
                <td width="40%">
                    <table width="100%" >
                        <tr>
                            <td width="33%" align="center">
                                <!--<input type="button" class="ptzBtn" value="左上" onMouseDown = "PTZControl('PTZLeftUp')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/5.gif" width="35px" height="35px" onMouseDown = "PTZControl('PTZLeftUp')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                            <td width="33%" align="center">
                                <!--<input type="button" class="ptzBtn" value="上" onMouseDown="PTZControl('PTZUp')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/1.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZUp')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                            <td width="34%" align="center">
                                <!--<input type="button" class="ptzBtn" value="右上" onMouseDown="PTZControl('PTZRightUp')" onMouseUp="PTZControl('PTZStop')" />-->
                                <img src="__PUBLIC__/home/images/ptz/6.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZRightUp')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <!--<input type="button" class="ptzBtn" value="左" onMouseDown="PTZControl('PTZLeft')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/3.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZLeft')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                            <td align="center">
                                <!--<input type="button" class="ptzBtn" value="自转" onMouseDown="PTZControl('PTZAuto')" />-->
                                <!--暂停-->
                                <img src="__PUBLIC__/home/images/ptz/10.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZAuto')" >

                            </td>
                            <td align="center">
                                <!--<input type="button" class="ptzBtn" value="右" onMouseDown="PTZControl('PTZRight')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/4.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZRight')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <!--<input type="button" class="ptzBtn" value="左下" onMouseDown="PTZControl('PTZLeftDown')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/7.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZLeftDown')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                            <td align="center">
                                <!--<input type="button" class="ptzBtn" value="下" onMouseDown="PTZControl('PTZDown')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/2.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZDown')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                            <td align="center">
                                <!--<input type="button" class="ptzBtn" value="右下" onMouseDown="PTZControl('PTZRightDown')" onMouseUp="PTZControl('PTZStop')"/>-->
                                <img src="__PUBLIC__/home/images/ptz/8.gif" width="35px" height="30px" onMouseDown="PTZControl('PTZRightDown')" onMouseUp="PTZControl('PTZStop')">
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="20%">
                    <!--<input type="button" class="ptzBtn" value="停止" onMouseDown="PTZControl('PTZStop')" />-->
                    <!--<img src="__PUBLIC__/home/images/ptz/10.gif" width="30px" height="30px"  onMouseDown="PTZControl('PTZStop')">-->

                </td>
                <td width="40%">
                    <table width="100%" >
                        <tr>
                            <td width="33%" align="center"><input type="button" value="+" onMouseDown="PTZControl('PTZAddTimes')" onMouseUp="PTZControl('PTZStop')"/></td>
                            <td width="33%" align="center">焦距</td>
                            <td width="34%" align="center"><input type="button" value="-" onMouseDown="PTZControl('PTZMinusTimes')" onMouseUp="PTZControl('PTZStop')"/></td>
                        </tr>
                        <tr>
                            <td align="center"><input type="button" value="+" onMouseDown="PTZControl('PTZFarFocus')" onMouseUp="PTZControl('PTZStop')"/></td>
                            <td align="center">焦点</td>
                            <td align="center"><input type="button" value="-" onMouseDown="PTZControl('PTZNearFocus')"  onMouseUp="PTZControl('PTZStop')"/></td>
                        </tr>
                        <tr>
                            <td align="center"><input type="button" value="+" onMouseDown="PTZControl('PTZLargeAperture')" onMouseUp="PTZControl('PTZStop')"/></td>
                            <td align="center">光圈</td>
                            <td align="center"><input type="button" value="-" onMouseDown="PTZControl('PTZSmallAperture')" onMouseUp="PTZControl('PTZStop')"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <!--<table width="100%" style="border: thin solid #C0C0C0;padding-top: 40px;">-->
        <!--<tr>-->
        <!--<td width="20%"><input type="button" value="预置点 " onClick="GetPt()" /></td>-->
        <!--<td width="30%">-->
        <!--&lt;!&ndash;-->
        <!--<select style="width:130px" id="SelectGetpt">-->
        <!--<option value = "1">1</option>-->
        <!--<option value = "2">2</option>-->
        <!--<option value = "3">3</option>-->
        <!--<option value = "4">4</option>-->
        <!--<option value = "5">5</option>-->
        <!--<option value = "6">6</option>-->
        <!--<option value = "7">7</option>-->
        <!--<option value = "8">8</option>-->
        <!--<option value = "9">9</option>-->
        <!--<option value = "10">10</option>-->
        <!--<option value = "11">11</option>-->
        <!--<option value = "12">12</option>-->
        <!--<option value = "13">13</option>-->
        <!--<option value = "14">14</option>-->
        <!--<option value = "15">15</option>-->
        <!--<option value = "16">16</option>-->
        <!--</select>-->
        <!--&ndash;&gt;-->
        <!--<input type="text"  value="1"/>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td width="20%"><input type="button" value="预置点 " onClick="SetPt()" /></td>-->
        <!--<td width="30%">-->
        <!--&lt;!&ndash;-->
        <!--<select style="width:130px" id="SelectSetpt">-->
        <!--<option value = "1">1</option>-->
        <!--<option value = "2">2</option>-->
        <!--<option value = "3">3</option>-->
        <!--<option value = "4">4</option>-->
        <!--<option value = "5">5</option>-->
        <!--<option value = "6">6</option>-->
        <!--<option value = "7">7</option>-->
        <!--<option value = "8">8</option>-->
        <!--<option value = "9">9</option>-->
        <!--<option value = "10">10</option>-->
        <!--<option value = "11">11</option>-->
        <!--<option value = "12">12</option>-->
        <!--<option value = "13">13</option>-->
        <!--<option value = "14">14</option>-->
        <!--<option value = "15">15</option>-->
        <!--<option value = "16">16</option>-->
        <!--</select>-->
        <!--&ndash;&gt;-->
        <!--<input type="text" id="setPreset" value="1"/>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</table>-->
        <br />




        <div id="u215" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u216" class="ax_default">

        <!-- Unnamed (多行文本框) -->
        <!--<div id="u217" class="ax_default text_area">-->
        <!--<textarea id="u217_input">-->


        <!--</textarea>-->
        <!--</div>-->

        <!-- Unnamed (矩形) -->
        <!--<div id="u218" class="ax_default box_1">-->
        <!--<div id="u218_div" class=""></div>-->
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <!--<div id="u219" class="text" style="visibility: visible;">-->
        <!--<p><span>巡航</span></p>-->
        <!--</div>-->
        <!--</div>-->

        <!-- Unnamed (矩形) -->
        <!--<div id="u220" class="ax_default box_1">-->
        <!--<div id="u220_div" class=""></div>-->
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <!--<div id="u221" class="text" style="visibility: visible;">-->
        <!--<p><span>预置位</span></p>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u222" class="ax_default text_field">
        <input id="u222_input" type="text" value=""/>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u223" class="ax_default _图片1">
        <img id="u223_img" class="img " src="__PUBLIC__/home/images/video/u223.svg"/>
        <!-- Unnamed () -->
        <div id="u224" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (多行文本框) -->
    <div id="u225" class="ax_default text_area">
        <textarea id="u225_input">


</textarea>
    </div>




    <!--监控点设置开始-->
    <!-- Unnamed (矩形) -->
    <!--<div id="u226" class="ax_default label" >-->
    <!--<div id="u226_div" class=""></div>-->
    <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
    <!--<div id="u227" class="text"  id="monitoringpoint">-->
    <!--<p><span>大华</span></p>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Unnamed (矩形) &ndash;&gt;-->
    <div id="u228" class="ax_default label"  >
        <div id="u228_div" class=""></div>
        <!-- Unnamed () -->
        <!--<div id="u229" class="text"  id="monitoringpoint">-->
        <!--<p><span>海康</span></p>-->
        <!--</div>-->

        <div>
            <a><div class="divImgIn" name="大华" ondblclick="change_one()">大华</div></a>
            <a><div class="divImgIn" name="海康" ondblclick="change_two()">海康</div></a>
        </div>

    </div>

    <!--监控点设置结束-->


    <!-- Unnamed (矩形) -->
    <div id="u240" class="ax_default label">
        <div id="u240_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u241" class="text" style="visibility: visible;">
            <p><span>搜索</span></p>
        </div>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u242" class="ax_default droplist">
        <select id="u242_input">
            <option value="园博园大街">园博园大街</option>
            <option value="太行大街">太行大街</option>
            <option value="新城大街">新城大街</option>
            <option selected value="迎旭路">迎旭路</option>
            <option value="隆兴路">隆兴路</option>
        </select>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u243" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u244" class="ax_default _文本段落1">
            <div id="u244_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u245" class="text" style="visibility: visible;">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u246" class="ax_default icon">
            <img id="u246_img" class="img " src="__PUBLIC__/home/images/video/u246.png"/>
            <!-- Unnamed () -->
            <div id="u247" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u248" class="ax_default _图片1">
        <img id="u248_img" class="img " src="__PUBLIC__/home/images/video/u248.svg"/>
        <!-- Unnamed () -->
        <div id="u249" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u250" class="ax_default _图片1">
        <img id="u250_img" class="img " src="__PUBLIC__/home/images/run/u60.png"/>
        <!-- Unnamed () -->
        <div id="u251" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u252" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u253" class="ax_default icon">
            <img id="u253_img" class="img " src="__PUBLIC__/home/images/video/u253.png"/>
            <!-- Unnamed () -->
            <div id="u254" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u255" class="ax_default icon">
            <img id="u255_img" class="img " src="__PUBLIC__/home/images/video/u255.png"/>
            <!-- Unnamed () -->
            <div id="u256" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u257" class="ax_default icon">
        <img id="u257_img" class="img " src="__PUBLIC__/home/images/video/u257.png"/>
        <!-- Unnamed () -->
        <div id="u258" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u259" class="ax_default icon">
        <img id="u259_img" class="img " src="__PUBLIC__/home/images/video/u259.png"/>
        <!-- Unnamed () -->
        <div id="u260" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u261" class="ax_default icon">
        <img id="u261_img" class="img " src="__PUBLIC__/home/images/video/u261.png"/>
        <!-- Unnamed () -->
        <div id="u262" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u263" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u264" class="ax_default icon">
            <img id="u264_img" class="img " src="__PUBLIC__/home/images/video/u264.png"/>
            <!-- Unnamed () -->
            <div id="u265" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u266" class="ax_default icon">
            <img id="u266_img" class="img " src="__PUBLIC__/home/images/video/u266.png"/>
            <!-- Unnamed () -->
            <div id="u267" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u268" class="ax_default label">
            <div id="u268_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u269" class="text" style="visibility: visible;">
                <p><span>1X</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u270" class="ax_default icon">
        <img id="u270_img" class="img " src="__PUBLIC__/home/images/video/u270.png"/>
        <!-- Unnamed () -->
        <div id="u271" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u272" class="ax_default icon">
        <img id="u272_img" class="img " src="__PUBLIC__/home/images/video/u272.png"/>
        <!-- Unnamed () -->
        <div id="u273" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u274" class="ax_default icon">
        <img id="u274_img" class="img " src="__PUBLIC__/home/images/video/u274.png"/>
        <!-- Unnamed () -->
        <div id="u275" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u276" class="ax_default image">
        <img id="u276_img" class="img " src="__PUBLIC__/home/images/video/u276.png"/>
        <!-- Unnamed () -->
        <div id="u277" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (斜角矩形) -->
    <div id="u278" class="ax_default primary_button">
        <img id="u278_img" class="img " src="__PUBLIC__/home/images/video/u278.png"/>
        <!-- Unnamed () -->
        <div id="u279" class="text" style="visibility: visible;">
            <p><span>2017-01-05&nbsp; 10:35:26</span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u280" class="ax_default icon">
        <img id="u280_img" class="img " src="__PUBLIC__/home/images/video/u257.png"/>
        <!-- Unnamed () -->
        <div id="u281" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u282" class="ax_default icon">
        <img id="u282_img" class="img " src="__PUBLIC__/home/images/video/u282.png"/>
        <!-- Unnamed () -->
        <div id="u283" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u284" class="ax_default box_1">
        <div id="u284_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u285" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>


    <!--视频播放区域开始-->
    <!-- Unnamed (图片) -->
    <!--边框样式设置：style="border:1px solid F60;"-->


    <!--右下-->

        <div style="z-index: 2; position: relative" id="u286" class="ax_defaultimage">

            <!--<div id="test"></div>-->
            <div id="log_window1" class="window">
                <a href="javascript:gain_id1()">
                    <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                            style="position:absolute;
                        visibility:inherit; top:0px;left:0px;width:100%; height:100%; filter:alpha(opacity=0); background-color: #AAAAAA">
                    </iframe>
                </a>
            </div>


            <div id="del1" class="del">
                <a href="javascript:closeVideo1()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="iframe"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">
                    </iframe>
                </a>
            </div>



            <!--云台控制-->
            <div id="ptz1" class="ptz">
                <a href="javascript:gain_id1()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>


            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
                    width="100%"
                    height="100%"
                    id="0"
                    events="True"
                    style="z-index: 1; position: absolute;top: 0px;left: 0px"
            >

                <param name="wmode" value="transparent">
                <param id="urla" name="MRL" value=""/>
                <param name="ShowDisplay" value="True" />
                <param name="AutoLoop" value="true" />
                <param name="AutoPlay" value="true" />
                <param name="Volume" value="50" />
                <param name="toolbar" value="false" />
                <param name="StartTime" value="0" />
                <param name="text" value="这是文本"/>
                <param name="color" value="black"/>
                <param name="aspectRatio" value="16:9">
                <!--<param name="allowfullscreen" value = "false"/>-->
            </object>
        </div>




        <!--右上-->
        <!-- Unnamed (图片) -->
        <div  style="background-color: #8f949a; height: " id="u288" class="ax_defaultimage" onmousedown="gain_id2()">

            <div id="log_window2" class="window">
                <a href="javascript:gain_id2()">
                    <iframe frameBorder="0" marginHeight="0" marginWidth="0" style="background-color: #AAAAAA;
        position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1; filter:alpha(opacity=0);">
                    </iframe>
                </a>
            </div>

            <div id="del2" class="del">
                <a href="javascript:closeVideo2()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="iframe"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>


            <div id="ptz2" class="ptz">
                <a href="javascript:gain_id2()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>

            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
                    width="100%"
                    height="100%"
                    id="1"
                    events="True"
            >
                <param name="wmode" value="transparent">
                <param id="urlb" name="MRL" value="" />
                <param name="ShowDisplay" value="True" />
                <param name="AutoLoop" value="true" />
                <param name="AutoPlay" value="true" />
                <param name="Volume" value="50" />
                <param name="toolbar" value="false" />
                <param name="StartTime" value="0" />
            </object>

            <!-- Unnamed () -->
            <!--<div id="u289" class="text" style="display: none; visibility: hidden">-->
            <!--<p><span></span></p>-->
            <!--</div>-->
        </div>

        <!-- Unnamed (图片) -->
        <div style="background-color: #8f949a;" id="u290" class="ax_defaultimage" onmousedown="gain_id3()">
            <!--<img id="u290_img" class="img " src="__PUBLIC__/home/images/video/u290.jpg"/>-->

            <div id="log_window3" class="window">
                <a href="javascript:gain_id3()">
                    <iframe frameBorder="0" marginHeight="0" marginWidth="0" style="background-color: #AAAAAA;
        position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1; filter:alpha(opacity=0);">
                    </iframe>
                </a>
            </div>

            <div id="del3" class="del">
                <a href="javascript:closeVideo3()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="iframe"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>

            <div id="ptz3" class="ptz">
                <a href="javascript:gain_id3()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>

            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
                    width="100%"
                    height="100%"
                    id="2"
                    events="True"
            >
                <param name="wmode" value="transparent">
                <param id="urlc" name="MRL" value="" />
                <param name="ShowDisplay" value="True" />
                <param name="AutoLoop" value="true" />
                <param name="AutoPlay" value="true" />
                <param name="Volume" value="50" />
                <param name="toolbar" value="false" />
                <param name="StartTime" value="0" />
            </object>
            <!-- Unnamed () -->
            <!--<div id="u291" class="text" style="display: none; visibility: hidden">-->
            <!--<p><span></span></p>-->
            <!--</div>-->
        </div>

        <!-- Unnamed (图片) -->
        <div style="background-color: #8f949a;" id="u292" class="ax_defaultimage" onmousedown="gain_id4()">

            <div id="log_window4" class="window">
                <a href="javascript:gain_id4()">
                    <iframe frameBorder="0" marginHeight="0" marginWidth="0" style="background-color: #AAAAAA;
        position:absolute; visibility:inherit; top:0px;left:0px;width:100%; height:100%;z-index:-1; filter:alpha(opacity=0);">
                    </iframe>
                </a>
            </div>

            <div id="del4" class="del">
                <a href="javascript:closeVideo4()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="iframe"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>


            <div id="ptz4" class="ptz">
                <a href="javascript:gain_id4()">
                    <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz"
                             style=" float: right; top:0px;left:10px;width:100%; height:100%">

                    </iframe>
                </a>
            </div>



            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
                    width="100%"
                    height="100%"
                    id="3"
                    events="True"

            >
                <param name="wmode" value="transparent">
                <param id="urld" name="MRL" value="" />
                <param name="ShowDisplay" value="True" />
                <param name="AutoLoop" value="true" />
                <param name="id" value="" />
                <param name="AutoPlay" value="true" />
                <param name="Volume" value="50" />
                <param name="toolbar" value="false" />
                <param name="StartTime" value="0" />
            </object>
            <!-- Unnamed () -->
            <!--<div id="u293" class="text" style="display: none; visibility: hidden">-->
            <!--<p><span></span></p>-->
            <!--</div>-->
        </div>
        <!--视频播放区域结束-->










    <!-- Unnamed (系统母版 1) -->

    <!-- Unnamed (组合) -->
    <div id="u295" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u296" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u297" class="ax_default box_2">
                <div id="u297_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u298" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u299" class="ax_default _一级标题">
                <div id="u299_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u300" class="text" style="visibility: visible;">
                    <p><span>智慧管廊综合管理平台</span></p>
                </div>
            </div>

            <!-- 系统运行 (矩形) -->
            <div id="u301" class="ax_default box_2" data-label="系统运行">
                <div id="u301_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u302" class="text" style="visibility: visible;">
                    <p><span>运行管理</span></p>
                </div>
            </div>

            <!-- 设备管理 (矩形) -->
            <div id="u303" class="ax_default box_2" data-label="设备管理">
                <div id="u303_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u304" class="text" style="visibility: visible;">
                    <p><span>设备管理</span></p>
                </div>
            </div>

            <!-- 报警管理 (矩形) -->
            <div id="u305" class="ax_default box_2" data-label="报警管理">
                <div id="u305_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u306" class="text" style="visibility: visible;">
                    <p><span>报警管理</span></p>
                </div>
            </div>

            <!-- 巡检管理 (矩形) -->
            <div id="u307" class="ax_default box_2" data-label="巡检管理">
                <div id="u307_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u308" class="text" style="visibility: visible;">
                    <p><span>巡检管理</span></p>
                </div>
            </div>

            <!-- Unnamed (动态面板) -->
            <!--<div id="u309" class="ax_default">
                <div id="u309_state0" class="panel_state" data-label="State1">
                    <div id="u309_state0_content" class="panel_state_content">
                        &lt;!&ndash; Unnamed (热区) &ndash;&gt;
                        <div id="u310" class="ax_default">
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- 子系统 (动态面板) -->
            <div id="u311" class="ax_default ax_default_hidden" data-label="子系统" style="display: none; visibility: hidden">
                <div id="u311_state0" class="panel_state" data-label="State1">
                    <div id="u311_state0_content" class="panel_state_content">

                        <!-- Unnamed (矩形) -->
                        <div id="u312" class="ax_default box_1">
                            <div id="u312_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u313" class="text" style="visibility: visible;">
                                <p><span>消防系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u314" class="ax_default box_1">
                            <div id="u314_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u315" class="text" style="visibility: visible;">
                                <p><span>安防系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u316" class="ax_default box_1">
                            <div id="u316_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u317" class="text" style="visibility: visible;">
                                <p><span>自控系统</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (矩形) -->
                        <div id="u318" class="ax_default box_1">
                            <div id="u318_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u319" class="text" style="visibility: visible;">
                                <p><span>配电与照明</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u320" class="ax_default image">
                <img id="u320_img" class="img " src="__PUBLIC__/home/images/run/u142.png"/>
                <!-- Unnamed () -->
                <div id="u321" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u322" class="ax_default icon">
                <img id="u322_img" class="img " src="__PUBLIC__/home/images/run/u144.png"/>
                <!-- Unnamed () -->
                <div id="u323" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u324" class="ax_default label">
                <div id="u324_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u325" class="text" style="visibility: visible;">
                    <p><span>你好！Admin</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u326" class="ax_default icon">
                <img id="u326_img" class="img " src="__PUBLIC__/home/images/run/u148.png"/>
                <!-- Unnamed () -->
                <div id="u327" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- 系统设备 (矩形) -->
            <div id="u328" class="ax_default box_2" data-label="系统设备">
                <div id="u328_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u329" class="text" style="visibility: visible;">
                    <p><span>设备分布</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u330" class="ax_default line">
        <img id="u330_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u331" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u332" class="ax_default line">
        <img id="u332_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u333" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u334" class="ax_default line">
        <img id="u334_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u335" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u336" class="ax_default line">
        <img id="u336_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u337" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u338" class="ax_default line">
        <img id="u338_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u339" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u340" class="ax_default line">
        <img id="u340_img" class="img " src="__PUBLIC__/home/images/run/u152.png"/>
        <!-- Unnamed () -->
        <div id="u341" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>
</div>
</body>
<script>
    //    $(function() {
    //        // 为 class = divImgIn 的控件绑定 click 事件
    //        $(".divImgIn").click(function() {
    //            // 使用 toggleClass ，如果 class 中没有 divImgOut 则附加上，有则减掉
    //            $(this).toggleClass("divImgOut");
    //
    //        })
    //    })
    var id;
    var brand;
    var arr = new Array(4);
    // 获取视频播放位置的object的id
    function gain_id1() {
        id = "0";
        console.log(id);
        document.getElementById('log_window1').style.border = '1px solid red';
        document.getElementById('log_window2').style.border = '0px solid red';
        document.getElementById('log_window3').style.border = '0px solid red';
        document.getElementById('log_window4').style.border = '0px solid red';
    }
    function gain_id2() {
        id = "1";
        console.log(id);
        document.getElementById('log_window2').style.border = '1px solid red';
        document.getElementById('log_window1').style.border = '0px solid red';
        document.getElementById('log_window3').style.border = '0px solid red';
        document.getElementById('log_window4').style.border = '0px solid red';
    }
    function gain_id3() {
        id = "2";
        console.log(id);
        document.getElementById('log_window3').style.border = '1px solid red';
        document.getElementById('log_window2').style.border = '0px solid red';
        document.getElementById('log_window1').style.border = '0px solid red';
        document.getElementById('log_window4').style.border = '0px solid red';
    }
    function gain_id4() {
        id = "3";
        console.log(id);
        document.getElementById('log_window4').style.border = '1px solid red';
        document.getElementById('log_window2').style.border = '0px solid red';
        document.getElementById('log_window3').style.border = '0px solid red';
        document.getElementById('log_window1').style.border = '0px solid red';
    }
    function change_one() {
        if(id == "0"){
            arr[0] = "dahua";
            var l = document.getElementById("log_window1");
            var del = document.getElementById('del1');
            var ptz = document.getElementById('ptz1');
        }else if(id == "1"){
            arr[1] = 'dahua';
            var l = document.getElementById("log_window2");
            var del = document.getElementById('del2');
            var ptz = document.getElementById('ptz2');
        }else if(id == "2"){
            arr[2] = 'dahua';
            var l = document.getElementById("log_window3");
            var del = document.getElementById('del3');
            var ptz = document.getElementById('ptz3');
        }else if(id == "3"){
            arr[3] = 'dahua';
            var l = document.getElementById("log_window4");
            var del = document.getElementById('del4');
            var ptz = document.getElementById('ptz4');
        }

        l.style.display = "none";
        del.style.display = 'block';
        ptz.style.display = 'block';
        var obj = document.getElementById(id);
        var id4= obj.playlist.add('rtsp://admin:admin@192.168.1.108:554/cam/realmonitor?channel=1&subtype=0&unicast=true&proto=Onvif');
        obj.playlist.playItem(id4);
        obj.playlist.play();

    }
    function change_two() {
        if(id == "0"){
            arr[0] = "haikang";
            var l = document.getElementById("log_window1");
            var del = document.getElementById('del1');
            var ptz = document.getElementById('ptz1');
        }else if(id == "1"){
            arr[1] = "haikang";
            var l = document.getElementById("log_window2");
            var del = document.getElementById('del2');
            var ptz = document.getElementById('ptz2');
        }else if(id == "2"){
            arr[2] = "haikang";
            var l = document.getElementById("log_window3");
            var del = document.getElementById('del3');
            var ptz = document.getElementById('ptz3');
        }else if(id == "3"){
            arr[3] = "haikang";
            var l = document.getElementById("log_window4");
            var del = document.getElementById('del4');
            var ptz = document.getElementById('ptz4');
        }
        l.style.display = "none";
        del.style.display = 'block';
        ptz.style.display = 'block';

        var obj = document.getElementById(id);
        var id4= obj.playlist.add('rtsp://admin:admin123@192.168.1.64:554/Streaming/Channels/101?transportmode=unicast&profile=Profile_1');
        obj.playlist.playItem(id4);
        obj.playlist.play();

    }
    function PTZControl(funcName){
        brand = arr[id];
        var res = null;
        switch(funcName){
            case "PTZLeftUp":
                res = StartTask_PTZ(25,brand);	//云台：左上
                break;
            case "PTZUp":
                res = StartTask_PTZ(21,brand);	//云台：上
                break;
            case "PTZRightUp":
                res = StartTask_PTZ(26,brand);	//云台：右上
                break;
            case "PTZLeft":
                res = StartTask_PTZ(23,brand);	//云台：左
                break;
            case "PTZAuto":
                res = StartTask_PTZ(29,brand);	//云台：自转
                break;
            case "PTZRight":
                res = StartTask_PTZ(24,brand);	//云台：右
                break;
            case "PTZLeftDown":
                res = StartTask_PTZ(27,brand);	//云台：左下
                break;
            case "PTZDown":
                res = StartTask_PTZ(22,brand);	//云台：下
                break;
            case "PTZRightDown":
                res = StartTask_PTZ(28,brand);	//云台：右下
                break;
            case "PTZStop":
                res = StartTask_PTZ(1,brand);	//云台：停止
                break;
            case "PTZAddTimes":
                res = StartTask_PTZ(11,brand);	//云台：焦距+
                break;
            case "PTZMinusTimes":
                res = StartTask_PTZ(12,brand);	//云台：焦距-
                break;
            case "PTZFarFocus":
                res = StartTask_PTZ(13,brand);	//云台：焦点+
                break;
            case "PTZNearFocus":
                res = StartTask_PTZ(14,brand);	//云台：焦点-
                break;
            case "PTZLargeAperture":
                res = StartTask_PTZ(15,brand);	//云台：光圈+
                break;
            case "PTZSmallAperture":
                res = StartTask_PTZ(16,brand);	//云台：光圈-
                break;
        }
    }
    function StartTask_PTZ(ptz,brand) {
        $.ajax({
            url: "http://www.qs.com/home/run/ptz?method=GetDateTime&datetime=" +new Date().getTime()+"&ptz="+ptz+"&brand="+brand,  // 这里改成你要执行的php便可,
            success: function(data){
                console.log(data);
            }
        });
//        alert(url+user+pwd+profiletoken);
    }


    //关闭视频方法
    function closeVideo1(){
        document.getElementById("log_window1").style.display = 'block';
        document.getElementById('del1').style.display = 'none';
        document.getElementById('ptz1').style.display = 'none';
        document.getElementById("log_window1").style.border = '0px solid red';
        var obj = document.getElementById("0");
        obj.playlist.stop();
        obj.playlist.items.clear();


    }
    function closeVideo2(){
        document.getElementById("log_window2").style.display = 'block';
        document.getElementById('del2').style.display = 'none';
        document.getElementById('ptz2').style.display = 'none';
        document.getElementById("log_window2").style.border = '0px solid red';

    }
    function closeVideo3(){
        document.getElementById("log_window3").style.display = 'block';
        document.getElementById('del3').style.display = 'none';
        document.getElementById('ptz3').style.display = 'none';
        document.getElementById("log_window3").style.border = '0px solid red';

    }
    function closeVideo4(){
        document.getElementById("log_window4").style.display = 'block';
        document.getElementById('del4').style.display = 'none';
        document.getElementById('ptz4').style.display = 'none';
        document.getElementById("log_window4").style.border = '0px solid red';
    }
</script>
</html>