<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/navigation.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/video/video.css">
    <script src="/Public/home/js/jquery-1.7.1.min.js"></script>
    <style>
        /*删除部分*/
        .del{
            background-image: url('__PUBLIC__/home/images/video/close.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width:15px;
            height: 15px;
            position: absolute;
            z-index:3;
            top: 1px;
            right: 1px;
            background-color: #999999;
            display: none;
        }
        /*云台控制部分*/
        .ptz{
            background-image: url('__PUBLIC__/home/images/video/ptz.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width:15px;
            height: 15px;
            position: absolute;
            z-index:3;
            top: 20px;
            right: 1px;
            background-color:#999999;
            display: none;
        }
    </style>
</head>
<body>
<div class="main border">
    <!--导航条开始-->
    <div class="navBar shadow">
        <div class="navLeft">
            <div>
                <img src="__PUBLIC__/home/images/run/u142.png" alt="logo" style="width:30px;height:30px;padding-top: 10px;float: left">
                <div class="title">智慧管廊综合管理平台</div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">运行管理</a></li>
                <li><a href="#">报警管理</a></li>
                <li><a href="#">巡检管理</a></li>
                <li><a href="#">设备管理</a></li>
                <li>
                    <a href="#" >设备分布</a>
                    <ul class="navBar_two" style="z-index: 9999;">



                        <li style="clear: both;">
                            <a href="#" >安防系统
                                <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                        style="visibility:inherit; top:0px;left:0px; width:100%; height: 45px;background-color:transparent; ">
                                </iframe>
                            </a>
                        </li>

                        <li style="clear: both;">
                                <a href="#" >消防系统
                                    <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                            style="visibility:inherit; top:0px;left:0px; width:100%;  height: 45px; background-color:transparent; ">
                                    </iframe>

                                </a>
                        </li>

                        <li style="clear: both;">
                            <a href="#" >自控系统
                                <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                        style="visibility:inherit; top:0px;left:0px; width:100%; height: 45px;  background-color:transparent; ">
                                </iframe>
                            </a>
                        </li>

                        <li style="clear: both;">
                                <a href="#" >配电与照明
                                </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
        <div class="navRight">
            <img src="__PUBLIC__/home/images/run/u144.png" alt="">
            你好！Admin
        </div>
        <div class="setting">
            <img src="__PUBLIC__/home/images/run/u148.png" alt="">
        </div>
    </div>
    <!--导航条结束-->

    <!--主区-->
    <div class="content">

        <!--视图切换按钮-->
        <div class="switchViewIcon">
            <img src="__PUBLIC__/home/images/run/video.png" style="padding-right: 35px">
            <img src="__PUBLIC__/home/images/run/u45.png">
            <img src="__PUBLIC__/home/images/run/u47.png">
            <img src="__PUBLIC__/home/images/run/gis.png">
        </div>

        <div class="switchViewBtn">
            <a href="/home/run/video">视频</a>
            <a href="#">防火分区</a>
            <a href="/home/run/run">三视图</a>
            <a href="#">GIS</a>
        </div>
        <div class="border">

            <!--搜索视频云台-->
            <div class="contentView">

                <!--选择搜索-->
                <div class="select">
                    <input type="text" placeholder="搜索" style="height:20px;line-height:22px;width:170px" ><img src="__PUBLIC__/home/images/video/search.png" alt="搜索" style="height:22px;"><br>
                    <select name="street" class="street" style="width:200px;height:22px">
                        <option value="1">迎旭路</option>
                    </select>
                    <br>
                    <div class="rtspSelect">
                        <button onclick="changeRtsp('dahua')">大华</button>
                        <button onclick="changeRtsp('haikang')">海康</button>
                    </div>

                </div>

                <!--视频区域-->
                <div class="videoDiv border">
                    <div id="objDiv1" class="objDiv">

                        <!--覆盖层-->
                        <div id="vidLayer1" class="vidLayer">
                            <a href="javascript:gain_id(1)">
                                <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                        style="visibility:inherit; top:0px;left:0px;width:100%; height:100%; filter:alp(opacity=0); background-color:black; z-index:8">
                                </iframe>
                            </a>
                        </div>

                        <!--删除按钮-->
                        <div id="del1" class="del">
                            <a href="javascript:closeVideo(1)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0"   allowtransparency="true" id="iframe"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>

                        <!--云台控制-->
                        <div id="ptz1" class="ptz">
                            <a href="javascript:gain_id(1)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz1"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>


                        <!--vlc插件-->
                        <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" width=100% height=100% id="obj1" events="True" style="position:absolute ; top:0px; left:0px">

                            <param id="urla" name="MRL" value=""/>
                            <param name="ShowDisplay" value="True" />
                            <param name="AutoLoop" value="true" />
                            <param name="AutoPlay" value="true" />
                            <param name="Volume" value="50" />
                            <param name="toolbar" value="false" />
                            <param name="StartTime" value="0" />
                        </object>
                    </div>

                    <div id="objDiv2" class="objDiv">
                        <!--覆盖层-->
                        <div id="vidLayer2" class="vidLayer">
                            <a href="javascript:gain_id(2)">
                                <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                        style="visibility:inherit; top:0px;left:0px;width:100%; height:100%; filter:alp(opacity=0); background-color:black; z-index:8">
                                </iframe>
                            </a>
                        </div>

                        <!--删除按钮-->
                        <div id="del2" class="del">
                            <a href="javascript:closeVideo(2)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0"   allowtransparency="true" id="iframe"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>

                        <!--云台控制-->
                        <div id="ptz2" class="ptz">
                            <a href="javascript:gain_id(2)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz1"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>


                        <!--vlc插件-->
                        <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" width=100% height=100% id="obj2" events="True" style="position:absolute ; top:0px; left:0px">

                            <param id="urla" name="MRL" value=""/>
                            <param name="ShowDisplay" value="True" />
                            <param name="AutoLoop" value="true" />
                            <param name="AutoPlay" value="true" />
                            <param name="Volume" value="50" />
                            <param name="toolbar" value="false" />
                            <param name="StartTime" value="0" />
                        </object>
                    </div>
                    <div id="objDiv3" class="objDiv">
                        <!--覆盖层-->
                        <div id="vidLayer3" class="vidLayer">
                            <a href="javascript:gain_id(3)">
                                <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                        style="visibility:inherit; top:0px;left:0px;width:100%; height:100%; filter:alp(opacity=0); background-color:black; z-index:8">
                                </iframe>
                            </a>
                        </div>

                        <!--删除按钮-->
                        <div id="del3" class="del">
                            <a href="javascript:closeVideo(3)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0"   allowtransparency="true" id="iframe"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>

                        <!--云台控制-->
                        <div id="ptz3" class="ptz">
                            <a href="javascript:gain_id(3)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz1"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>


                        <!--vlc插件-->
                        <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" width=100% height=100% id="obj3" events="True" style="position:absolute ; top:0px; left:0px">

                            <param id="urla" name="MRL" value=""/>
                            <param name="ShowDisplay" value="True" />
                            <param name="AutoLoop" value="true" />
                            <param name="AutoPlay" value="true" />
                            <param name="Volume" value="50" />
                            <param name="toolbar" value="false" />
                            <param name="StartTime" value="0" />
                        </object>
                    </div>
                    <div id="objDiv4" class="objDiv">
                        <!--覆盖层-->
                        <div id="vidLayer4" class="vidLayer">
                            <a href="javascript:gain_id(4)">
                                <iframe frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true"
                                        style="visibility:inherit; top:0px;left:0px;width:100%; height:100%; filter:alp(opacity=0); background-color:black; z-index:8">
                                </iframe>
                            </a>
                        </div>

                        <!--删除按钮-->
                        <div id="del4" class="del">
                            <a href="javascript:closeVideo(4)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0"   allowtransparency="true" id="iframe"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>

                        <!--云台控制-->
                        <div id="ptz4" class="ptz">
                            <a href="javascript:gain_id(4)">
                                <iframe  frameBorder="0" marginHeight="0" marginWidth="0" allowtransparency="true" id="ifrPtz1"  style=" float: right; top:0px;left:10px;width:100%; height:100%">
                                </iframe>
                            </a>
                        </div>


                        <!--vlc插件-->
                        <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" width=100% height=100% id="obj4" events="True" style="position:absolute ; top:0px; left:0px">

                            <param id="urla" name="MRL" value=""/>
                            <param name="ShowDisplay" value="True" />
                            <param name="AutoLoop" value="true" />
                            <param name="AutoPlay" value="true" />
                            <param name="Volume" value="50" />
                            <param name="toolbar" value="false" />
                            <param name="StartTime" value="0" />
                        </object>
                    </div>
                </div>


                <!--云台控制-->
                <div class="ctl border">
                    <br>
                    <br>
                    <div style="text-align:center;background-color: #C0C0C0">云台控制</div>
                    <br />
                    <table width="100%" style="border: thin solid #C0C0C0;">
                        <tr>
                            <td width="40%">
                                <table width="100%" >
                                    <tr>
                                        <td width="33%" align="center">

                                            <img src="__PUBLIC__/home/images/ptz/5.gif" width="35px" height="35px" onMouseDown = "PTZControl('PTZLeftUp')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                        <td width="33%" align="center">

                                            <img src="__PUBLIC__/home/images/ptz/1.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZUp')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                        <td width="33%" align="center">

                                            <img src="__PUBLIC__/home/images/ptz/6.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZRightUp')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">

                                            <img src="__PUBLIC__/home/images/ptz/3.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZLeft')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                        <td align="center">

                                            <img src="__PUBLIC__/home/images/ptz/10.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZAuto')" >

                                        </td>
                                        <td align="center">

                                            <img src="__PUBLIC__/home/images/ptz/4.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZRight')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">

                                            <img src="__PUBLIC__/home/images/ptz/7.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZLeftDown')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                        <td align="center">
                                            <!--<input type="button" class="ptzBtn" value="下" onMouseDown="PTZControl('PTZDown')" onMouseUp="PTZControl('PTZStop')"/>-->
                                            <img src="__PUBLIC__/home/images/ptz/2.gif" width="35px" height="35px" onMouseDown="PTZControl('PTZDown')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                        <td align="center">
                                            <!--<input type="button" class="ptzBtn" value="右下" onMouseDown="PTZControl('PTZRightDown')" onMouseUp="PTZControl('PTZStop')"/>-->
                                            <img src="__PUBLIC__/home/images/ptz/8.gif" width="35px" height="30px" onMouseDown="PTZControl('PTZRightDown')" onMouseUp="PTZControl('PTZStop')">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20%">
                            </td>
                            <td width="40%">
                                <table width="100%" >
                                    <tr>
                                        <td width="33%" align="center"><input type="button" value="+" onMouseDown="PTZControl('PTZAddTimes')" onMouseUp="PTZControl('PTZStop')"/></td>
                                        <td width="33%" align="center">焦距</td>
                                        <td width="34%" align="center"><input type="button" value="-" onMouseDown="PTZControl('PTZMinusTimes')" onMouseUp="PTZControl('PTZStop')"/></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><input type="button" value="+" onMouseDown="PTZControl('PTZFarFocus')" onMouseUp="PTZControl('PTZStop')"/></td>
                                        <td align="center">焦点</td>
                                        <td align="center"><input type="button" value="-" onMouseDown="PTZControl('PTZNearFocus')"  onMouseUp="PTZControl('PTZStop')"/></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><input type="button" value="+" onMouseDown="PTZControl('PTZLargeAperture')" onMouseUp="PTZControl('PTZStop')"/></td>
                                        <td align="center">光圈</td>
                                        <td align="center"><input type="button" value="-" onMouseDown="PTZControl('PTZSmallAperture')" onMouseUp="PTZControl('PTZStop')"/></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <!--视频回放功能-->
            <div class="vidBot">
                <div class="vidBotCtl">
                    <div class="vidBotCtl1">
                        <img src="__PUBLIC__/home/images/video/u274.png" alt="">
                        <img src="__PUBLIC__/home/images/video/u270.png" alt="">
                        <img src="__PUBLIC__/home/images/video/u272.png" alt="">
                        <img src="__PUBLIC__/home/images/video/u257.png" alt="">
                        <img src="__PUBLIC__/home/images/video/u258.png" alt="">
                        <img src="__PUBLIC__/home/images/video/u264.png" alt="">
                        <img src="__PUBLIC__/home/images/video/u266.png" alt="">
                        <!--<span>2017-06-08&nbsp16:50</span>-->
                    </div>

                    <div class="vidBotCtl3"></div>
                </div>
                <div class="vidBotBac">
                    <img src="__PUBLIC__/home/images/video/u276.png" alt="">
                </div>

            </div>

        </div>
    </div>

</div>
<script src="__PUBLIC__/home/js/video/video.js"></script>
</body>
<script>

    //    云台控制
    function PTZControl(funcName){
        brand = arr[id-1];
        var res = null;
        switch(funcName){
            case "PTZLeftUp":
                res = StartTask_PTZ(25,brand);	//云台：左上
                break;
            case "PTZUp":
                res = StartTask_PTZ(21,brand);	//云台：上
                break;
            case "PTZRightUp":
                res = StartTask_PTZ(26,brand);	//云台：右上
                break;
            case "PTZLeft":
                res = StartTask_PTZ(23,brand);	//云台：左
                break;
            case "PTZAuto":
                res = StartTask_PTZ(29,brand);	//云台：自转
                break;
            case "PTZRight":
                res = StartTask_PTZ(24,brand);	//云台：右
                break;
            case "PTZLeftDown":
                res = StartTask_PTZ(27,brand);	//云台：左下
                break;
            case "PTZDown":
                res = StartTask_PTZ(22,brand);	//云台：下
                break;
            case "PTZRightDown":
                res = StartTask_PTZ(28,brand);	//云台：右下
                break;
            case "PTZStop":
                res = StartTask_PTZ(1,brand);	//云台：停止
                break;
            case "PTZAddTimes":
                res = StartTask_PTZ(11,brand);	//云台：焦距+
                break;
            case "PTZMinusTimes":
                res = StartTask_PTZ(12,brand);	//云台：焦距-
                break;
            case "PTZFarFocus":
                res = StartTask_PTZ(13,brand);	//云台：焦点+
                break;
            case "PTZNearFocus":
                res = StartTask_PTZ(14,brand);	//云台：焦点-
                break;
            case "PTZLargeAperture":
                res = StartTask_PTZ(15,brand);	//云台：光圈+
                break;
            case "PTZSmallAperture":
                res = StartTask_PTZ(16,brand);	//云台：光圈-
                break;
        }
    }
    function StartTask_PTZ(ptz,brand) {
        $.ajax({
            url: "__APP__/home/run/ptz?method=GetDateTime&datetime=" +new Date().getTime()+"&ptz="+ptz+"&brand="+brand,
            success: function(data){
                console.log(data);
            }
        });
        alert(url+user+pwd+profiletoken);
    }
</script>
</html>